<template>
  <div class="moon-phase-wrapper">
    <span class="moon-icon">{{ Moon.lunarPhaseEmoji() }}</span>
    <div class="days">{{ fullMoonRemaining }}e</div>
  </div>
  <!-- <adur-icon name="camera" :size="50" color="#5096ec" /> -->
</template>
<script setup>
import lune from "lune";
import dayjs from "dayjs";
import { Moon } from "lunarphase-js";

const today = dayjs().set("hour", 7).set("minute", 0).set("second", 0);
let fullMoonDate = dayjs(lune.phase_hunt().nextfull_date)
  .set("hour", 7)
  .set("minute", 0)
  .set("second", 0);
let fullMoonRemaining = Math.round(fullMoonDate.diff(today, "day", true));

if (fullMoonRemaining > 30) {
  fullMoonDate = dayjs(lune.phase_hunt().full_date)
    .set("hour", 7)
    .set("minute", 0)
    .set("second", 0);
  fullMoonRemaining = Math.round(fullMoonDate.diff(today, "day", true));
}
</script>
<style scoped>
.moon-phase-wrapper {
  display: block;
  float: right;
  z-index: 999;
  text-align: center;
  margin-right: 1rem;
}

.moon-icon {
  font-size: 2.3rem;
}

.days {
  font-size: 0.7rem;
  margin-top: -5px;
  font-weight: bold;
}
</style>
