<template>
  <div class="adurmapa">
    <l-map
      :zoom="10"
      :min-zoom="4"
      :max-zoom="19"
      :center="[42.812153436295844, -1.6492832726039892]"
      @click="setLocation"
      @ready="onMapReady"
    >
      <adur-moon-phase @click="importExportComboClicked" />
      <l-tile-layer
        :url="tileUrl"
        attribution="OpenStreetMaps"
        layer-type="base"
      ></l-tile-layer>
      <!-- <l-tile-layer
        :url="labelsLayer"
        attribution="<a href='http://stamen.com'>Stamen Design</a>"
      ></l-tile-layer > -->
      <l-marker
        v-for="location in viewableLocations"
        :key="location.id"
        :lat-lng="[location.lat, location.lng]"
        :draggable="currentAction === 'addLocation'"
        @dragend="resetCurrentAction"
        @move="updateLocation($event, location)"
        @click="onLocationClicked(location)"
      >
      </l-marker>
      <l-polyline
        v-for="path in paths"
        :key="path.id"
        :lat-lngs="pathLatLngs(path)"
        :color="pathColor(path)"
        @click="onPathClicked(path, $event)"
      />
      <l-polyline v-if="newPath.length > 1" :lat-lngs="newPath" color="blue" />
      <l-control position="topleft">
        <a
          @click="importExportClicked"
          :class="{
            active: showActions,
          }"
          class="action-buttons"
        >
          <Settings />
        </a>
        <a
          @click="
            showSearch = !showSearch;
            showActions = false;
          "
          :class="{
            active: showSearch,
          }"
          class="action-buttons"
        >
          <Search />
        </a>
        <div
          v-if="showActions"
          class="control-buttons"
          style="margin-top: 2rem"
        >
          <a
            @click="addLocation"
            :class="{
              active: currentAction === 'addLocation',
            }"
            class="action-buttons"
          >
            <span class="shortcut">K</span>okalekua gehitu
          </a>
          <a
            @click="addPath"
            :class="{
              active: currentAction === 'addPath',
            }"
            class="action-buttons"
          >
            <span class="shortcut">B</span>idea gehitu
          </a>
          <a
            @click="removeElement"
            :class="{
              active: currentAction === 'removeElement',
            }"
            class="action-buttons"
          >
            <span class="shortcut">E</span>lementua ezabatu
          </a>
          <div v-if="importExportEnabled" class="import-export">
            <a
              @click="exportData"
              style="margin-top: 2rem"
              class="action-buttons"
            >
              Datuak esportatu
            </a>
            <a
              @click="importData"
              :class="{
                active: currentAction === 'importData',
              }"
              class="action-buttons"
            >
              Datuak inportatu
            </a>
          </div>
        </div>
        <div
          v-if="showSearch"
          class="control-buttons"
          style="margin-top: 2rem"
          @keyup.stop
        >
          <div class="form-control">
            <input
              type="text"
              v-model="filter.experience"
              placeholder="Bilatu"
            />
          </div>
        </div>
      </l-control>
      <l-control
        v-if="currentAction === 'importData'"
        position="topright"
        class="metadata-control"
        @keyup.stop
      >
        <div class="metadata-control-topbar">
          <X @click="resetCurrentAction" />
        </div>
        <div class="form-control">
          <input type="file" ref="importFileRef" @change="readFile()" />
        </div>
      </l-control>
      <l-control
        v-if="selectedLocation"
        position="topright"
        class="metadata-control"
        @keyup.stop
      >
        <div class="metadata-control-topbar">
          <X @click="closeMetadata" />
        </div>
        <div class="form-control">
          <input
            type="text"
            class="name-input"
            placeholder="Izena"
            v-model="selectedLocation.name"
            @update:modelValue="storeData"
          />
        </div>
        <div class="form-control">
          <input
            id="hasErronka"
            type="checkbox"
            v-model="selectedLocation.hasErronka"
            @update:modelValue="storeData"
          /><label class="checkbox-label" for="hasErronka">Erronka</label>
          <input
            v-if="selectedLocation.hasErronka"
            id="erronkaDone"
            type="checkbox"
            v-model="selectedLocation.erronkaDone"
            @update:modelValue="storeData"
          /><label
            v-if="selectedLocation.hasErronka"
            class="checkbox-label"
            for="erronkaDone"
            >Eginda</label
          >
        </div>
        <template v-if="selectedLocation.hasErronka">
          <div class="form-control">
            <label>Esperientzia</label>
            <input
              type="input"
              v-model="selectedLocation.experience"
              @update:modelValue="storeData"
            />
          </div>
          <div class="form-control">
            <label>Ezaugarria</label>
            <input
              type="input"
              v-model="selectedLocation.feature"
              @update:modelValue="storeData"
            />
          </div>
          <div class="form-control">
            <label>Saria</label>
            <input
              type="input"
              v-model="selectedLocation.prize"
              @update:modelValue="storeData"
            />
          </div>
        </template>
        <div class="form-control">
          <label>Bide mota: </label>
          <select
            v-model="selectedLocation.level"
            @update:modelValue="storeData"
          >
            <option value=""></option>
            <option value="1">Bide nagusia</option>
            <option value="2">Bigarren mailako bidea</option>
            <option value="mendikoa">Mendiko bidea</option>
          </select>
        </div>
        <div class="form-control">
          <textarea
            v-model="selectedLocation.other"
            placeholder="Beste datu batzuk"
            @update:modelValue="storeData"
          ></textarea>
        </div>
      </l-control>

      <l-control
        v-if="selectedPath"
        position="topright"
        class="metadata-control"
        @keyup.stop
      >
        <div class="metadata-control-topbar">
          <X @click="closeMetadata" />
        </div>
        <div class="form-control">
          <label>Bide mota: </label>
          <select v-model="selectedPath.level" @update:modelValue="storeData">
            <option value=""></option>
            <option value="itxita">Itxitako bidea</option>
          </select>
        </div>
        <div class="form-control">
          <textarea
            v-model="selectedPath.other"
            placeholder="Beste datu batzuk"
            @update:modelValue="storeData"
          ></textarea>
        </div>
      </l-control>
    </l-map>
  </div>
</template>

<script setup>
import { ref, computed, reactive, unref } from "vue";
import { nanoid } from "nanoid";
import AdurMoonPhase from "./AdurMoonPhase.vue";
import L, { Icon, latLng } from "leaflet";
import {
  LMap,
  LTileLayer,
  LMarker,
  LPolyline,
  LControl,
} from "@vue-leaflet/vue-leaflet";
import "leaflet/dist/leaflet.css";
import { X, Settings, Search } from "lucide-vue-next";

const props = defineProps({
  importExport: {
    type: Boolean,
    default: false,
  },
});

const importComboHit = ref(0);
const importExportEnabled = computed(() => {
  return props.importExport && importComboHit.value >= 10;
});
const importExportClicked = () => {
  showActions.value = !showActions.value;
  showSearch.value = false;
};
const importExportComboClicked = () => {
  importComboHit.value++;
};

const currentAction = ref(null);
const tileUrl = "https:///tile.openstreetmap.org/{z}/{x}/{y}.png";
// const tileUrl = "https://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}";
// const labelsLayer = "https://{s}.basemaps.cartocdn.com/light_only_labels/{z}/{x}/{y}{r}.png";

const importFileRef = ref();

const showSearch = ref(false);
const showActions = ref(true);

const resetCurrentAction = () => {
  currentAction.value = "";
};

const filter = reactive({
  experience: "",
});

const toggleCurrentAction = (action) => {
  if (currentAction.value === action) {
    resetCurrentAction();
  } else {
    currentAction.value = action;
  }
};

const addLocation = () => {
  toggleCurrentAction("addLocation");
};

const addPath = () => {
  toggleCurrentAction("addPath");
  newPath.value = {};
};

const removeElement = () => {
  toggleCurrentAction("removeElement");
};

const importData = () => {
  closeMetadata();
  toggleCurrentAction("importData");
};

const exportData = () => {
  const element = document.createElement("a");
  element.setAttribute(
    "href",
    "data:text/plain;charset=utf-8," + encodeURIComponent(exportStr.value)
  );
  element.setAttribute("download", "adurmapa.dat");
  element.style.display = "none";
  document.body.appendChild(element);
  element.click();
  document.body.removeChild(element);
};

const exportStr = computed(() => {
  const data = {
    "adur-data-version": currentDataVersion,
    "adur-paths": paths.value,
    "adur-locations": locations.value,
  };
  return btoa(JSON.stringify(data));
});

window.addEventListener("keyup", function (ev) {
  switch (ev.key.toLowerCase()) {
    case "k":
      toggleCurrentAction("addLocation");
      break;
    case "b":
      toggleCurrentAction("addPath");
      break;
    case "e":
      toggleCurrentAction("removeElement");
      break;
    default:
  }
});

const currentDataVersion = 1;
const storeData = () => {
  localStorage.setItem("adur-locations", JSON.stringify(locations.value));
  localStorage.setItem("adur-paths", JSON.stringify(paths.value));
  localStorage.setItem("adur-data-version", currentDataVersion);
};

const initialLocations = JSON.parse(localStorage.getItem("adur-locations"));
const locations = ref(
  initialLocations
    ? initialLocations
    : [
        {
          id: nanoid(5),
          lat: 42.812153436295844,
          lng: -1.6492832726039892,
        },
      ]
);

const viewableLocations = computed(() => {
  if (showSearch.value) {
    return locations.value.filter((location) => {
      const keys = ["feature", "experience", "other", "name", "prize"];
      const currentLoc = unref(location);
      for (const key of keys) {
        if (currentLoc[key]) {
          if (
            currentLoc[key]
              .toLowerCase()
              .includes(filter.experience.toLowerCase())
          ) {
            return true;
          }
        }
      }
    });
  }
  return locations.value;
});

const setLocation = (event) => {
  if (currentAction.value === "addLocation") {
    if (event.latlng) {
      const { lat, lng } = event.latlng;
      const location = {
        id: nanoid(5),
        lat,
        lng,
      };
      locations.value.push(location);
      storeData();
      resetCurrentAction();

      selectedLocation.value = location;
      selectedPath.value = null;
    }
  }
};

const updateLocation = (event, location) => {
  if (event.latlng) {
    const { lat, lng } = event.latlng;
    location.lat = lat;
    location.lng = lng;
    storeData();
  }
};

const removeLocation = (location) => {
  paths.value = paths.value.filter(
    (path) => path.dst !== location.id && path.src !== location.id
  );
  locations.value = locations.value.filter(
    (storedLocation) => storedLocation.id !== location.id
  );
};

const locationLatLng = (locationId) => {
  const foundLocation = locations.value.find(
    (location) => location.id === locationId
  );
  return [foundLocation.lat, foundLocation.lng];
};

const paths = ref(
  JSON.parse(localStorage.getItem("adur-paths"))
    ? JSON.parse(localStorage.getItem("adur-paths"))
    : []
);

const selectedLocation = ref(null);
const selectedPath = ref(null);

const newPath = ref({});
const onLocationClicked = (location) => {
  if (currentAction.value === "addPath") {
    if (!newPath.value.src) {
      addNewPathSource(location);
    } else {
      addNewPathDestination(location);
      storeData();
      resetCurrentAction();
    }
    return;
  }

  if (currentAction.value === "removeElement") {
    removeLocation(location);
    storeData();
    resetCurrentAction();
    return;
  }

  resetCurrentAction();
  selectedLocation.value = location;
  selectedPath.value = null;
};

const addNewPathSource = (location) => {
  newPath.value = {
    id: nanoid(5),
    src: location.id,
  };
};

const addNewPathDestination = (location) => {
  newPath.value.dst = location.id;
  paths.value.push(newPath.value);
  newPath.value = {};
};

const onPathClicked = (path, $event) => {
  $event.originalEvent.stopPropagation();
  if (currentAction.value === "removeElement") {
    removePath(path);
    storeData();
    resetCurrentAction();
    return;
  }

  selectedPath.value = path;
  selectedLocation.value = null;
};

const removePath = (path) => {
  paths.value = paths.value.filter((storedPath) => storedPath.id !== path.id);
};

const pathLatLngs = (path) => {
  return [locationLatLng(path.src), locationLatLng(path.dst)];
};

const pathColor = (path) => {
  switch (path.level) {
    case "itxita":
      return "red";
  }
  return "blue";
};

const closeMetadata = () => {
  selectedLocation.value = null;
  selectedPath.value = null;
};

const readFile = () => {
  const file = importFileRef.value.files[0];
  const reader = new FileReader();
  reader.addEventListener("load", (res) => {
    console.log(res.target.result);
    const data = JSON.parse(atob(res.target.result));
    if (currentDataVersion != data["adur-data-version"]) {
      return;
    }
    paths.value = data["adur-paths"];
    locations.value = data["adur-locations"];
    storeData();
  });
  reader.readAsText(file);
};
</script>

<style type="scss" scoped>
.control-buttons {
  display: flex;
  flex-direction: column;
}

.adurmapa a {
  display: inline-block;
  margin-bottom: 10px;
  appearance: none;
  border: 1px solid #ccc;
  background: white;
  padding: 0.5rem 0.5rem;
  color: #333;
  margin-right: 5px;
  text-decoration: none !important;
  cursor: default;
  text-align: center;
}
.adurmapa a.active,
.adurmapa a.active:hover {
  margin-bottom: 10px;
  appearance: none;
  border: 1px solid #ccc;
  background: #ccc;
}

.adurmapa a:hover {
  margin-bottom: 10px;
  appearance: none;
  border: 1px solid #ccc;
  background: #eee;
}
.adurmapa select {
  appearance: none;
  background-color: white;
  border: 1px solid #ccc;
}

.adurmapa input[type="text"],
.adurmapa textarea {
  appearance: none;
  background: white;
  border: 1px solid #ccc;
}

.metadata-control {
  background: white;
  min-height: 300px;
  width: 300px;
  max-width: 90%;
  padding: 0.5rem;
}

.adurmapa input.name-input {
  text-align: center;
  font-size: 1.5rem;
  appearance: none;
  border: none;
  box-shadow: none;
  font-weight: bold;
  max-width: 100%;
}

.form-control {
  margin-bottom: 0.5rem;
}

.form-control input[type="checkbox"] {
  margin: 0 0.5rem;
}

.form-control textarea {
  width: 100%;
  min-height: 100px;
}

.form-control label {
  display: block;
  width: 100%;
  font-size: 0.6rem;
  font-weight: bold;
}

.form-control .checkbox-label {
  display: inline;
  font-size: 0.7rem;
  font-weight: normal;
}

.metadata-control-topbar {
  text-align: right;
}

.shortcut {
  text-decoration: underline;
}

.form-control input[type="text"] {
  padding: 0.5rem;
}

.import-export {
  width: 100%;
  display: flex;
  flex-direction: column;
}
</style>
