<script setup lang="ts">
import AdurMap from "./components/AdurMap.vue";
const props = defineProps({
  ie: {
    type: Boolean,
    default: false,
  },
});
</script>

<template>
  <AdurMap style="height: 100%; width: 100%" :import-export="ie"></AdurMap>
</template>

<style scoped>
/* header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }
} */
</style>
